---
 const personalImageAlt = "Juan Barbosa"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p>
    Me llamo Juan David Barbosa y soy apasionado del desarrollo web y la tecnología. Mi primer acercamiento a 
    la programación fue creando pequeñas páginas en HTML y CSS, lo que despertó mi interés por este fascinante mundo.
  </p>
  
  <p>
    A lo largo de mi aprendizaje, he trabajado en proyectos personales y académicos, 
    <strong>desarrollando aplicaciones web completas con tecnologías como React, PHP y MySQL
        </strong>. También he experimentado con herramientas modernas como Astro y Vite para optimizar el rendimiento y la experiencia de usuario.
  </p>
  
  <p>
    Mi objetivo es <strong>convertirme en un desarrollador integral que pueda contribuir a la creación de 
        soluciones innovadoras</strong>. Me apasiona aprender nuevas tecnologías y compartir conocimiento para ayudar a otros a crecer en este camino.
  </p>
  
  </div>

  <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>